/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Qartuli";
  src: url("/assets/fonts/bpg_banner_extrasquare.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
  font-family: "Qartuli", cursive;
}
